[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Facecam
GenericName=Facecam
Comment=See your face
Exec=facecam
Icon=facecam
Terminal=false
Type=Application
Categories=Multimedia;AudioVideo;Video;GTK;Graphics;